ul {
    display: flex;
    list-style: none;
    margin-right: 85px;
    }
    
    li {
    margin-left: 4px;
    border: 1px solid black;
    border-radius: 10%;
    background: #a8e3d9;
    padding-left: 5px;
    padding-right: 5px;
    }
    
    li:hover {
    background: #93c9c0;
    }
    
    a {
    font-size: 30px;
    text-decoration: none;
    color: black;
    }
    